*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', arial, sans-serif;
}

.container{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.upper-bar{
	top: 0;
	position: absolute;
	width: 100%;
	border: 1px solid green;
	height: 40px;

}

#imgContainer{
	border: 1px solid blue;
	width: 640px;
	height: 480px;
}

img{
	width: 100%;
	height: 100%;
}

#bright{
	
}

.container-ajustes{
	border: 1px solid red;
}

.ajuste{
	display: flex;
	justify-content: space-between;
}