*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', arial, sans-serif;
	background-color: #323435;
}

.container{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.upper-bar{
	padding: 10px;
	display: flex;
	top: 0;
	position: absolute;
	width: 100%;
	border: 1px solid lightgray;
	height: 45px;
	background-color: #E2E5E5;
}

.folder-icon{
	font-size: 2rem;
    color: #DAD384;
    margin: 0 5px;
}

#imgContainer{
	text-align: center;
	border: 2px solid lightgray;
	width: 650px;
	height: 520px;
	margin-right: 10px;
	background-color: #E2E5E5;
}

img{
	width: 90%;
	height: 90%;
}

input[type="file"]{
	display: none;
}

#bright{
	
}

.container-ajustes{
	width: 280px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid lightgray;
	background-color: #E2E5E5;
}

.ajuste{
	display: flex;
	justify-content: space-between;
}